# LISTS

In [1]:
my_list=[1,2,3]

In [2]:
my_list=['STRING',100,88.6]

In [3]:
len(my_list)

3

In [63]:
mylist=['one','two','three']

In [7]:
mylist[0] #indexing

'one'

In [8]:
mylist[1:] #slicing

['two', 'three']

In [62]:
mylist[:2]

['one', 'two']

In [64]:
anotherlist=['four','five','six']

In [65]:
newlist=mylist+anotherlist #concatination

In [66]:
newlist

['one', 'two', 'three', 'four', 'five', 'six']

In [67]:
newlist[0]='ONE IN ALL CAPS' #mutation in lists

In [68]:
newlist

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [69]:
newlist.append('seven') #add an element to the nd of list

In [70]:
newlist

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [71]:
newlist.pop() #remove elements form list

'seven'

In [72]:
newlist

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [73]:
popped_item=newlist.pop()

In [55]:
popped_item

'six'

In [74]:
newlist

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five']

In [75]:
newlist.pop(0) # remove a specific element

'ONE IN ALL CAPS'

In [76]:
newlist

['two', 'three', 'four', 'five']

In [122]:
aplha_list=['a','e','i','o','u']
num_list=[4,2,16,8]

In [123]:
aplha_list.sort()  #arrange the elemts in alphabetical order

In [125]:
aplha_list

['a', 'e', 'i', 'o', 'u']

In [114]:
num_list.sort()

In [115]:
num_list

[2, 4, 8, 16]

In [116]:
name_list=['sam','ammy','leo','josh']

In [117]:
name_list.sort()

In [98]:
name_list

['ammy', 'josh', 'leo', 'sam']

In [126]:
my_sorted_list=name_list.sort()

In [129]:
my_sorted_list

In [127]:
type(my_sorted_list)

NoneType

In [130]:
name_list.sort()
my_sorted_list=name_list

In [131]:
my_sorted_list

['ammy', 'josh', 'leo', 'sam']

In [132]:
num_list

[4, 2, 16, 8]

In [133]:
num_list.sort()
sorted_num_list=num_list

In [134]:
sorted_num_list

[2, 4, 8, 16]

In [135]:
num_list.reverse()

In [136]:
num_list

[16, 8, 4, 2]

In [145]:
nested_list=[1,2,[3,4]] #nested list

In [146]:
nested_list[1] #indexing of nested list

2

In [147]:
nested_list[2]

[3, 4]

In [150]:
nested_list[2][1]

4